lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
gfx

npm-debug.log

# npm will get these for you
node_modules
# Let Stylus be useful
public/stylesheets/*.css
#Private stuff, with ponies and yeah...
notes.txt
