extends layout
block css
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .row-fluid
    .span2
    .span4
      .pills
        .row-fluid.pill-heading
          .span12
            span.pill-label 
              i.icon-arrow-up.icon-white
              | Send File
        .row-fluid.pill-body
          .span12
            a.btn-block.btn-primary.span12 Click to Begin
    .span4
      .pills
        .row-fluid.pill-heading
          .span12
            span.pill-label 
              i.icon-arrow-down.icon-white
              | Recieve File
        .row-fluid.pill-body
          #input-holder.span12
            form.input-append.span12(method="GET", action="/get/")
              input.span12(required,placeholder='Enter Sender ID')
              button.btn.btn-small(type='submit')
                i.icon-white.icon-search
  hr.bs-docs-separator
  #info.row-fluid
    .span4
      h2 What?
      :markdown
        In simple terms, Flin.gr is a nifty app that lets you send files to people securely and fast!
        Or in more technical terms; we facilitate encrypted peer to peer file sharing and communication with full NAT traversal between two browsers.
        The only people who see your data are your recipients and you, we couldn't if we wanted to! This means that even if we were subpeona'd or hacked, your information is never at risk.

    .span4
      h2 Why?
      :markdown
        MegaUpload founder and CEO Kim Dotcom is proof that there needs to be a change in the way we share files. File dumps, like Mega and RapidShare, put their owners at risk. We don't want to go to jail! But sharing is the back bone of internet culture and with scary things like the Patriot Act and that NSA snooping blunder happening we need to find new way to protect ourselves!
    .span4
      h2 How?
      span#last-paragraph
      :markdown
        We use a combination of cutting edge technology to make all this happen. The sessions between users happen over a relatively new technology called WebRTC(It was published by Google in May, 2011) which has encryption (DTLS-SRTP) and can travel through NAT/Firewalls (Via STUN/TURN). We use these to provide a seamless file delivery system between users.
        