body-bg-c = #F2E9E1
header-bg-c = #CBE868
title-c = #FFF
title-hover-c = #F2E9E1
title-caption-c = #1C140D
content-bg-c = #FFF
content-border-c = #CBE868
footer-bg-c = #1C140D
footer-c = #CBE86B